@media screen and ( max-width: 1200px )
  .container
    margin: 0 auto
    padding: 0 20px
  .compilation
    &-card
      &__labels
      &__title
        line-height: 22px
      &__genre
    &-button
      top: 260px
      left: 0
      right: 0
      transform: none
      left: 50%
      &--prev
        transform: translateX(-76px)
      &--next
        transform: translateX(20px)
  .categories
    &-wrap
    &-slider   
      &__wrapper
    &-slide
      &__img
      &__title
      &__about
    &-button
      width: 55px
      height: 55px
      background-size: 16px
      top: auto
      bottom: 28px
      left: 50%
      &--prev
        transform: translateX( -65px)
      &--next
        transform: translateX(10px)
  .partners
    &-container
      margin: auto
      padding-top: 35px
      padding-bottom: 32px
      display: flex
      flex-direction: column
      justify-content: center
    &-wrap
      padding-top: 25px
      display: flex
      flex-flow: row wrap
      justify-content: space-evenly
    &__logo
      padding-top: 0
      padding-bottom: 0
      margin: 20px
  .blog
    &-main
      width: auto
    &-articles
      &__item
        min-width: 514px

@media screen and ( max-width: 992px )
  #newsletter-error
    top: 37px
    left: 10px
  .button
    &:hover
      box-shadow: none
      transform: none
  .container
    width: 100%
    position: relative
    overflow-x: hidden
  .section-title
    font-size: 42px
    line-height: 52px
  .menu
    &__link
      &:hover
        color: $dark
        &::after
          display: none
  .main
    &-about
      &__header
        margin-top: 0
        max-width: 400px
      &__author
        margin-bottom: 20px
      &__text
        margin-bottom: 42px
        min-width: 280px
        font-size: 16px
        line-height: 23px
      &__buttons
        justify-content: flex-start
        align-items: center
    &-button
      max-height: 58px
      min-width: 176px
      width: auto
  .references
    &-container
      justify-content: space-evenly
    &__title
      text-align: center
    &__button
      &:hover
        box-shadow: none
        transform: none
    &__link
      &:hover
        &::after
          display: none
  .compilation
    &-wrap
      &__grid
        grid-template-columns: 1fr   
    &-card
      grid-column: 1
      &:nth-child(2n)
        grid-column: 1
      &:nth-child(n+4)
        display: none
      &__like
        &:hover
          background-image: url('../img/like.svg')
        &--clicked
          background-image: url('../img/liked.svg')
          &:hover
            background-image: url('../img/liked.svg')
  .categories
    &-slider   
      max-width: 100%
      &__wrapper
        max-width: 100%
        position: static
    &-slide
      width: 200px
      &__img
        width: 40px
        height: 40px
        margin: 15px 0
      &__title
        font-size: 16px
        line-height: 22px
        margin-bottom: 10px
      &__about
        font-size: 14px
        line-height: 20px
    &-button
      width: 55px
      height: 55px
      background-size: 16px
      top: auto
      bottom: 28px
      left: 50%
      &--prev
        transform: translateX( -65px)
      &--next
        transform: translateX(10px)
  .unreleased
    padding-top: 50px
    padding-bottom: 137px
    position: relative
    &-container
      max-width: 100%
      overflow: hidden
      position: static
    &-wrap
      position: static
      max-width: 100%
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      margin-bottom: 40px
    &-slider
      max-width: 100%
      width: auto
      margin-left: 20px
      margin-right: 20px
      &__wrapper
        width: 100%
      &__slide
        max-width: 220px
        height: auto
      &__img
        width: 100%
    &-button
      width: 48px
      height: 48px
      z-index: 50
      top: auto
      bottom: 48px
      right: auto
      left: 50%
      &:hover
        border-color: $bgc
      &--prev
        transform: translateX(-58px)
      &--next
        transform: translateX(10px)
  .stories
    padding: 40px 0 98px 0
    &-container
      padding: 0 10px
      width: 100%
    &-wrap
      width: 100%
      justify-content: center
    &-header
      display: flex
      flex-direction: column
      justify-content: center
      text-align: center
    &-video
      &__main
        max-height: 310px
        position: relative
        margin-bottom: 20px
      &__play
        &:hover
          box-shadow: none
      &__other
        max-width: 100%
        width: 100%
        display: flex
        justify-content: space-between
      &__item
        display: flex
        flex-direction: column
        &:nth-child(n+2)
          margin-left: 20px
  .video
    &-card
      min-width: 0
    &-frame
      min-width: none
      max-width: none
      &__placeholder
        min-width: 140px
        width: 100%
      &__play
        width: 30px
        height: 30px
        background-size: 22px
        opacity: 1
        &:hover
          background: transparent
          background-image: url('../img/stories/play_s.svg')
          background-repeat: no-repeat
          background-size: 22px
          background-position: 58% 50%
    &-info
      &__favourites
        &:hover
          transform: none
  .partners
    &-container
      padding-top: 35px
      padding-bottom: 32px
      display: flex
      flex-direction: column
      justify-content: center
    &__title
    &-wrap
      padding-top: 25px
      display: flex
      flex-flow: row wrap
      justify-content: space-evenly
    &__logo
      padding-top: 0
      padding-bottom: 0
      margin: 20px
  .blog
    &-main
      max-width: 50%
      &__img
        width: 100%
    &-articles
      min-width: 50%
      &__item
        min-width: 0
        width: 100%
        flex-direction: column
        &:nth-child(3)
          display: none
      &__img
        width: 100%
      &__info
        margin: 0
      &__link
        &::after
          display: none

  .newsletter
    &-container
      flex-direction: column
      height: 236px
      justify-content: space-evenly
    &__title
      font-size: 28px
      line-height: 36px
      padding: 0
      margin: 0
      text-align: center
  .newsletter
    &__block
      display: flex
      justify-content: space-between
      align-items: center
    &__icon
      width: 22px
      height: 38px
      margin-left: 10px
      margin-right: 0px
      background-size: 100%
      background-position: center
      margin-right: 5px
    &__input
      padding: 8px 20px 8px 8px
      min-width: 0
      width: auto
    &__button
      &:hover
        color: $bgc
        box-shadow: none
  .footer
    &-container
      padding: 0
    &-content
      padding: 48px 0 64px 0
      margin-bottom: 0
      flex-flow: row wrap
      justify-content: space-evenly
      &__main
        display: flex
        flex-direction: column
        align-items: center
        flex-basis: 100%
        max-width: 100%
        width: 100%
        order: 2
        margin-right: 0
      &__item
        margin-left: 0
        margin-right: 20px
        width: 100px
      &__link
        &:hover
          color: $dark
          &::after
            display: none
    &-bottom
      padding: 0
      margin-bottom: 30px
  .socials
    &__img
      &:hover
        box-shadow: none
        transform: translateY(0)
  .scroll-top
    right: 40px
    bottom: 40px

@media screen and ( max-width: 768px )
  .section-heading
    margin-bottom: 32px
  .navbar
    width: 100%
    padding: 18px 0
    position: fixed
    &-button
      display: block
      visibility: visible
  .menu
    display: none
    visibility: hidden
    &--mobile
      &--visible
        display: flex
        visibility: visible
  .main
    padding: 95px 0 56px 0
    &-wrap
      flex-direction: column
      align-items: center
    &-about
      align-items: center
      padding-bottom: 36px
      &__header
        padding: 0
        max-width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center
      &__author
        text-align: center
      &__text
        max-width: 100%
        text-align: center
      &__buttons
        max-width: 100%
        align-items: center
        justify-content: center
    &-book
      padding: 60px 68px
      width: 500px
  .references
    &-container
      flex-direction: column
  .compilation
    &-wrap
      &__grid
        display: flex
        height: auto
        max-height: none
        padding-top: 60px
        justify-content: center
    &-card
      padding-top: 0
      max-width: 100%
      max-height: none
      flex-direction: column
      align-items: center
      &:nth-child(n+2)
        display: none
      &__info
        margin-left: 0
        width: 70%
        align-items: center
      &__img
        margin: 0
        margin-top: -44px
        margin-bottom: 20px
        min-width: 96px
        width: 35%
        height: auto
      &__labels
        width: 100%
        margin-bottom: 20px
        align-items: center
      &__title
        text-align: center
  .bestsellers
    padding-top: 50px
    &-wrap
      max-width: none
      width: auto
      &__grid
        grid-template-columns: 1fr
        grid-column-gap: 10px
    &-card
      justify-content: center
      min-width: 290px
      width: 100%
      grid-column: 1
      &__labels
        max-width: 180px
  .categories
    &-slider   
      &__wrapper
        height: 600px
    &-slide
      height: calc( (100% - 26px) / 2 )
      display: flex
      justify-content: center
    &-button
      width: 55px
      height: 55px
      background-size: 16px
      top: auto
      bottom: 58px
      left: 50%
      &--prev
        transform: translateX( -65px)
      &--next
        transform: translateX(10px)
  .unreleased
    padding-top: 50px
    padding-bottom: 137px
    position: relative
    &-container
      width: 100%
      overflow: hidden
      position: static
    &-wrap
      position: static
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      margin-bottom: 40px
    &-slider
      width: 95%  
      &__wrapper
        width: 100%
      &__slide
        max-width: 210px
      &__img
        width: 100%
    &-button
      width: 48px
      height: 48px
      z-index: 50
      top: auto
      bottom: 48px
      right: auto
      left: 50%
      &--prev
        transform: translateX(-58px)
      &--next
        transform: translateX(10px)

  .stories
    padding: 40px 0 98px 0
    &-container
      padding: 0 10px
      width: 100%
    &-wrap
      width: 100%
      justify-content: center
    &-header
      display: flex
      flex-direction: column
      justify-content: center
      text-align: center
      &__title
        font-size: 28px
        line-height: 36px
        margin-bottom: 20px
      &__description
        flex-basis: auto
        padding: 0 10px
        font-size: 18px
        line-height: 25px
        margin-bottom: 40px
    &-video
      &__main
        max-width: 100%
        min-width: 300px
        max-height: 210px
        position: relative
        margin-bottom: 20px
      &__placeholder
        width: 100%
        height: 100%
        object-fit: cover
      &__play
        width: 56px
        height: 56px
        background-size: 17px
        background-position: 57% 50%
      &__other
        max-width: 100%
        width: 100%
        display: flex
        justify-content: space-between
      &__item
        display: flex
        flex-direction: column
        &:nth-child(n+2)
          margin-left: 20px
  .video
    &-card
      min-width: 0
    &-frame
      min-width: none
      max-width: none
      &__placeholder
        min-width: 140px
        max-height: 140px
        width: 100%
      &__play
        width: 30px
        height: 30px
        background-size: 22px
    &-info
      min-width: none
      max-width: none
      padding-top: 8px
      display: flex
      flex-direction: column
      max-width: 100%
      &__label
        min-width: none
        max-width: none
        display: flex
        flex-direction: column
        text-align: center
        margin-bottom: 5px
      &__author
        min-width: none
        max-width: none
        font-size: 16px
        line-height: 20px
      &__book
        min-width: none
        max-width: none
        font-size: 12px
        line-height: 20px
      &__favourites
        width: 12px
        align-self: center
        background-size: 100%
  .partners
    &-container
      padding-top: 35px
      padding-bottom: 32px
      display: flex
      flex-direction: column
      justify-content: center
    &__title
    &-wrap
      padding-top: 25px
      display: flex
      flex-flow: row wrap
      justify-content: space-evenly
    &__logo
      padding-top: 0
      padding-bottom: 0
      margin: 20px        
      &:nth-child(n+9)
        display: none
  .newsletter
    &__block
      display: flex
      justify-content: space-between
      align-items: center
    &__icon
      width: 22px
      height: 38px
      margin-left: 10px
      margin-right: 0px
      background-size: 100%
      background-position: center
      margin-right: 5px
    &__input
      padding: 8px 20px 8px 8px
      min-width: 0
      width: auto
    &__button
  .footer
    &-content
      &__subtitle
        font-size: 16px
        line-height: 22px
      &__links
      &__link
        font-size: 14px
        line-height: 20px
  .scroll-top
    right: 35px
    bottom: 35px
    background-size: 18px

@media screen and ( max-width: 576px )
  .section-title
    margin: 0
    font-size: 32px
    line-height: 40px
  .section-heading
    font-size: 16px
    line-height: 24px
  .main
    padding-top: 102px
    padding-bottom: 40px
    &-about
      width: 100%
      padding: 0
      &__header
        width: 100%
        margin-bottom: 24px
      &__text
        margin-bottom: 17px
      &__buttons
        flex-direction: column
        margin-bottom: 36px
    &-button
      max-width: 176px
      padding: 9px
      text-transform: uppercase
      font-size: 16px
      line-height: 22px
      min-height: 40px
      max-height: 40px
      &:last-child
        margin: 0
        margin-top: 15px
    &-book
      min-width: 280px
      width: 100%
      height: auto
      padding: 60px 68px
      &__cover
        min-width: 144px
        min-height: 214px
  .references
    padding-bottom: 54px
    &__title
      font-size: 28px
      line-height: 36px
    &__button
      width: 117px
  .compilation
    &-wrap
      margin-top: 15px
    &-card
      padding: 0 13px 13px 23px
      &__img
        margin-top: -27px
        margin-bottom: 10px
        height: 137px
      &__info
        width: 100%
      &__labels
        width: 100%
      &__title
        font-size: 20px
        line-height: 24px
        width: 100%
        margin-bottom: 10px
      &__genre
        font-size: 14px
        line-height: 20px
        margin-bottom: 17px
      &__price
        font-size: 16px
        line-height: 20px
    &__else
      font-size: 16px
      line-height: 20px
      padding: 14px
      text-transform: none
      margin-top: 31px
  .bestsellers
    padding: 0
    padding-top: 55px
    &-wrap
      display: flex
      flex-direction: column
      padding: 30px 10px 0px 10px
      justify-content: center
      &__grid
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-self: center
        justify-content: center
        margin-right: 20px
    &-card
      min-width: auto
      width: auto
      padding: 0
      display: flex
      justify-content: flex-start
      &__img
        width: 96px
        height: 142px
      &__info
        margin-left: 10px
        max-width: 130px
        padding-bottom: 0
        padding-left: 5px
    &__title
      font-size: 16px
      line-height: 24px
      margin-bottom: 10px
    &__button
      width: 100px
    &__books
      margin-top: 46px
      padding: 20px
  .categories
    margin: 0 auto
    width: 100%
    display: flex
    justify-content: center
    padding: 0
    &-wrap
      padding-top: 60px
      padding-bottom: 111px
    &-slider
      &__wrapper
        height: 400px
    &-slide
      &__img
        width: 32px
        height: 32px
        margin: 12px 0 18px 0
      &__labels
        margin-bottom: 0
        justify-content: flex-start
        height: 100%
        margin: 0
      &__title
        padding: 0 5px
        font-size: 14px
        line-height: 18px
        font-weight: bold
        height: 2em        
      &__about
        margin-top: 8px
        font-size: 12px
        line-height: 20px
    &-button
      width: 45px
      height: 45px
      background-size: 13px
      top: auto
      bottom: 58px
      left: 50%
      &--prev
        transform: translateX( -53px)
      &--next
        transform: translateX(8px)
  .unreleased
    padding-top: 50px
    padding-bottom: 137px
    position: relative
    &-container
      position: static
    &-wrap
      position: static
      width: 100%
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
      margin-bottom: 40px
    &-slider
      display: flex
      align-items: center
      max-width: 205px
      margin-left: auto
      margin-right: auto
      &__wrapper
        min-width: 200px
        max-width: 200px
        margin-left: auto
        margin-right: auto
        width: 100%
      &__slide
        max-width: 205px
        max-height: 300px
      &__img
        width: 100%
    &-button
      width: 48px
      height: 48px
      z-index: 50
      top: auto
      bottom: 48px
      right: auto
      left: 50%
      &--prev
        transform: translateX(-58px)
      &--next
        transform: translateX(10px)

  .stories
    padding: 40px 0 39px 0
    &-container
      padding: 0 10px
      width: 100%
    &-wrap
      width: 100%
      justify-content: center
    &-header
      &__title
        font-size: 28px
        line-height: 36px
        margin-bottom: 20px
      &__description
        flex-basis: auto
        padding: 0 10px
        font-size: 18px
        line-height: 25px
        margin-bottom: 40px
    &-video
      &__item
        &:nth-child(n+2)
          margin-left: 20px
        &:nth-child(3)
          display: none
  .video
    &-card
      min-width: 0
      width: 50%
    &-frame
      min-width: none
      max-width: none
      &__placeholder
        min-width: 140px
        max-height: 140px
        width: 100%
  .partners
    &-container
      padding-top: 35px
      padding-bottom: 44px
      display: flex
      flex-direction: column
      justify-content: center
    &__title
    &-wrap
      padding-top: 25px
      display: grid
      grid-template-columns: 40% 40%
      grid-row-gap: 22px
      grid-column-gap: 20px
      justify-content: center
      justify-items: center
    &__logo
      margin-top: 0
      margin-bottom: 0
      width: 90px
    &__link
      margin: 0
      padding-top: 0
      padding-bottom: 0
      align-self: center
      grid-column: 1
      &:nth-child(2n)
        grid-column: 2
      &:nth-child(n+7)
        display: none
  .blog
    &-container
      flex-direction: column
      align-items: center
      padding-top: 54px
      padding-bottom: 0
    &-main
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      max-width: 100%
      &__title
        font-size: 28px
        line-height: 36px
      &__img
        margin-top: 50px
        width: 100%
        max-height: 120px
        object-fit: cover
      &__info
        padding: 0 0px
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: center
      &__subtitle
        font-size: 16px
        line-height: 20px
        text-align: left
        margin-top: 19px
        margin-bottom: 0
      &__text
        font-size: 12px
        line-height: 24px
    &-articles
      padding-left: 0
      margin-top: 15px
      &__button
        order: 2
        align-self: center
        margin-top: 30px
        padding: 11px 44px
      &__wrap
        justify-content: flex-start
      &__item
        flex-direction: row
        margin-top: 23px
        &:nth-child(3)
          display: flex
      &__img
        min-width: 0
        max-width: 33%
        height: 90px
        margin-right: 15px
      &__info
        margin: 0
        padding-top: 3px
        min-width: 150px
      &__date
        font-size: 10px
        line-height: 20px
        margin-bottom: 5px
      &__title
        min-width: 150px
        font-size: 14px
        line-height: 20px
        margin-bottom: 5px
      &__link
        font-size: 10px
        line-height: 20px
  #newsletter-error
      top: 29px
  .newsletter
    background-image: url('../img/newsletter_bg.png')
    &-container
      background-image: none
      border-radius: 0 
      padding: 27px 4px
      height: auto
    &__title
      font-size: 28px
      line-height: 36px
      text-align: left
      width: 80%
      align-self: flex-start
    &__form
      width: 100%
      flex-direction: column
      padding: 10px 8px 8px 8px
      margin-top: 30px
    &__block
      display: flex
      justify-content: flex-start
      margin-bottom: 7px
    &__icon
      width: 22px
      height: 38px
      margin-left: 10px
      margin-right: 0px
      background-size: 100%
      background-position: center
      margin-right: 5px
    &__input
      padding: 8px 20px 8px 8px
      min-width: 0
      width: 100%
    &__button
      flex-basis: 100%
      font-size: 16px
      line-height: 22px
      padding: 10px
  .footer
    &-content
      justify-content: space-between
      &__logo
        margin-bottom: 8px
      &__main
        margin-right: 0
      &__text
        margin-top: 0
        text-align: center
        margin-bottom: 16px
      &__item
        min-width: 110px
        width: 40%
        margin-bottom: 28px
        justify-content: flex-start
      &__subtitle
        margin-bottom: 20px
      &__link
        margin-bottom: 15px
    &-bottom
      display: none
  .modal
    &__form
      &__bottom
        margin-top: 10px
        display: flex
        flex-direction: column-reverse
    &__required
      margin-bottom: 20px
      align-self: flex-start
    &__button
      width: 100%

@media screen and ( max-height: 540px )
  .modal
    &__window
      top: 50%
      height: 100vh
      overflow-y: auto
    &__form
      &__bottom
        display: flex
        flex-direction: column-reverse
        justify-content: space-between
  
@media screen and ( min-width: 993px )
  .partners
    &__link
      transition: all .2s ease-in-out
      &:hover
        transform: scale(1.1)
  .demo
    max-width: none
    padding-left: 55px
    padding-right: 55px