@media screen and ( max-width: 1200px )
  .container
    padding: 0 20px

@media screen and ( max-width: 992px )
  .container
    width: 100%
    position: relative
    overflow-x: hidden
  .section-title
    font-size: 42px
    line-height: 52px
  .main
    &-about
      &__header
        margin-top: 0
        max-width: 400px
      &__author
        margin-bottom: 20px
      &__text
        margin-bottom: 42px
        min-width: 280px
        font-size: 16px
        line-height: 23px
      &__buttons
        justify-content: flex-start
        align-items: center
        // flex-wrap: wrap
    &-button
      max-height: 58px
      min-width: 176px
      width: auto
  .references
    &-container
      justify-content: space-around
    &__title
      text-align: center
  .compilation
    &-wrap
      &__grid
        grid-template-columns: 1fr
        
    &-card
      grid-column: 1
      &:nth-child(2n)
        grid-column: 1
      &:nth-child(n+4)
        display: none



@media screen and ( max-width: 768px )

  .section-heading
    margin-bottom: 32px
  .navbar
    width: 100%
    padding: 18px 0
    position: fixed
    &-button
      display: block
      visibility: visible
  .menu
    display: none
    visibility: hidden
    &--mobile
      &--visible
        display: flex
        visibility: visible
  .main
    padding: 95px 0 56px 0
    &-wrap
      flex-direction: column
      align-items: center
    &-about
      align-items: center
      padding-bottom: 36px
      &__header
        padding: 0
        max-width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center
      &__author
        text-align: center
      &__text
        max-width: 100%
        text-align: center
      &__buttons
        max-width: 100%
        align-items: center
        justify-content: center
    &-book
      padding: 60px 68px
      width: 500px
  .references
    &-container
      flex-direction: column


        
  .compilation
    &-wrap
      &__grid
        grid-template-columns: repeat(2 minmax(min-content, 1fr))
    &-card
      &:nth-child(2n)
        grid-column: 2
      &:nth-child(4)
        display: flex
      &:nth-child(n+5)
        display: none
  .bestsellers
    padding-top: 50px
    &-wrap
      max-width: none
      width: auto
      &__grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 10px
    &-card
      &:nth-child(2n)
        grid-column: 2



@media screen and ( max-width: 576px )
  
  .section-title
    margin: 0
    font-size: 32px
    line-height: 40px

  .section-heading
    font-size: 16px
    line-height: 24px
  .main
    padding-top: 102px
    &-wrap
    &-about
      width: 100%
      padding: 0
      &__header
        width: 100%
        margin-bottom: 24px
      &__text
        margin-bottom: 17px
      &__buttons
        flex-direction: column
        margin-bottom: 36px
    &-button
      max-width: 176px
      padding: 9px
      text-transform: uppercase
      font-size: 16px
      line-height: 22px
      min-height: 40px
      max-height: 40px
      &:last-child
        margin: 0
        margin-top: 15px
    &-book
      min-width: 280px
      width: 100%
      height: auto
      padding: 60px 68px
      &__cover
        min-width: 144px
        min-height: 214px
  .modal
    &__form
      &__bottom
        margin-top: 10px
        display: flex
        flex-direction: column-reverse
    &__required
      margin-bottom: 20px
      align-self: flex-start
    &__button
      width: 100%


@media screen and ( max-height: 540px )
  .modal
    &__wrapper
    &__window
      height: 100vh
      overflow-y: auto
    &__form
      &__bottom
        display: flex
        flex-direction: column-reverse
        justify-content: space-between