@media screen and ( max-width: 1200px )
  .container
    padding: 0 20px

  .compilation
    &-card
      &__labels
      &__title
        line-height: 22px
      &__genre

@media screen and ( max-width: 992px )
  .button
    &:hover
      box-shadow: none
      transform: none
  .container
    width: 100%
    position: relative
    overflow-x: hidden
  .section-title
    font-size: 42px
    line-height: 52px
  .menu
    &__link
      &:hover
        color: $dark
        &::after
          display: none
  .main
    &-about
      &__header
        margin-top: 0
        max-width: 400px
      &__author
        margin-bottom: 20px
      &__text
        margin-bottom: 42px
        min-width: 280px
        font-size: 16px
        line-height: 23px
      &__buttons
        justify-content: flex-start
        align-items: center
        // flex-wrap: wrap
    &-button
      max-height: 58px
      min-width: 176px
      width: auto
  .references
    &-container
      justify-content: space-evenly
    &__title
      text-align: center
    &__button
      &:hover
        box-shadow: none
        transform: none
    &__link
      &:hover
        &::after
          display: none
  .compilation
    &-wrap
      &__grid
        grid-template-columns: 1fr
        
    &-card
      grid-column: 1
      &:nth-child(2n)
        grid-column: 1
      &:nth-child(n+4)
        display: none
      &__like
        &:hover
          background-image: url('../img/like.svg')
        &--clicked
          background-image: url('../img/liked.svg')
          &:hover
            background-image: url('../img/liked.svg')



@media screen and ( max-width: 768px )

  .section-heading
    margin-bottom: 32px
  .navbar
    width: 100%
    padding: 18px 0
    position: fixed
    &-button
      display: block
      visibility: visible
  .menu
    display: none
    visibility: hidden
    &--mobile
      &--visible
        display: flex
        visibility: visible
  .main
    padding: 95px 0 56px 0
    &-wrap
      flex-direction: column
      align-items: center
    &-about
      align-items: center
      padding-bottom: 36px
      &__header
        padding: 0
        max-width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center
      &__author
        text-align: center
      &__text
        max-width: 100%
        text-align: center
      &__buttons
        max-width: 100%
        align-items: center
        justify-content: center
    &-book
      padding: 60px 68px
      width: 500px
  .references
    &-container
      flex-direction: column

  .compilation
    &-wrap
      &__grid
        display: flex
        height: auto
        max-height: none
        padding-top: 60px
        justify-content: center
    &-card
      padding-top: 0
      max-width: 100%
      max-height: none
      flex-direction: column
      align-items: center
      &:nth-child(n+2)
        display: none
      &__info
        margin-left: 0
        width: 70%
        align-items: center
      &__img
        margin: 0
        margin-top: -44px
        margin-bottom: 20px
        min-width: 96px
        width: 35%
        height: auto
      &__labels
        width: 100%
        margin-bottom: 20px
        align-items: center
      &__title
        text-align: center
  .bestsellers
    padding-top: 50px
    &-wrap
      max-width: none
      width: auto
      &__grid
        grid-template-columns: 1fr
        grid-column-gap: 10px
    &-card
      justify-content: center
      min-width: 290px
      width: 100%
      grid-column: 1
      &__labels
        max-width: 180px



@media screen and ( max-width: 576px )
  
  .section-title
    margin: 0
    font-size: 32px
    line-height: 40px

  .section-heading
    font-size: 16px
    line-height: 24px
  .main
    padding-top: 102px
    padding-bottom: 40px
    &-wrap
    &-about
      width: 100%
      padding: 0
      &__header
        width: 100%
        margin-bottom: 24px
      &__text
        margin-bottom: 17px
      &__buttons
        flex-direction: column
        margin-bottom: 36px
    &-button
      max-width: 176px
      padding: 9px
      text-transform: uppercase
      font-size: 16px
      line-height: 22px
      min-height: 40px
      max-height: 40px
      &:last-child
        margin: 0
        margin-top: 15px
    &-book
      min-width: 280px
      width: 100%
      height: auto
      padding: 60px 68px
      &__cover
        min-width: 144px
        min-height: 214px
  .references
    &__title
      font-size: 28px
      line-height: 36px
    &__button
      width: 117px
  .compilation
    &-wrap
      margin-top: 15px
    &-card
      padding: 0 23px 23px 23px
      &__img
        margin-top: -27px
        margin-bottom: 10px
        height: 137px
      &__info
        width: 100%
      &__labels
        width: 100%
      &__title
        font-size: 20px
        line-height: 24px
        width: 100%
        margin-bottom: 10px
      &__genre
        font-size: 14px
        line-height: 20px
        margin-bottom: 17px
      &__price
        font-size: 16px
        line-height: 20px
    &__else
      font-size: 16px
      line-height: 20px
      padding: 14px
      text-transform: none
      margin-top: 21px
  .bestsellers
    padding-top: 55px
    &-wrap
      display: flex
      flex-direction: column
      padding: 30px 10px 0px 10px
      &__grid
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
    &-card
      min-width: auto
      width: auto
      padding: 0
      display: flex
      justify-content: flex-start
      &__img
        width: 96px
        height: 142px
      &__info
        margin-left: 10px
        max-width: 130px
        padding-bottom: 0
        padding-left: 5px
    &__title
      font-size: 16px
      line-height: 24px
      margin-bottom: 10px
    &__button
      width: 100px
    &__books
      margin-top: 46px
      padding: 20px







  .modal
    &__form
      &__bottom
        margin-top: 10px
        display: flex
        flex-direction: column-reverse
    &__required
      margin-bottom: 20px
      align-self: flex-start
    &__button
      width: 100%


@media screen and ( max-height: 540px )
  .modal
    &__wrapper
    &__window
      height: 100vh
      overflow-y: auto
    &__form
      &__bottom
        display: flex
        flex-direction: column-reverse
        justify-content: space-between