.navbar
  padding: 36px 20px
  width: 100%
  background-color: $bgc
  position: fixed
  top: 0
  left: 0
  z-index: 100

  &-wrap
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
  &-button
    position: absolute
    padding: 0
    display: none
    visibility: hidden
    right: 20px
    width: 24px
    height: 24px
    border: none
    background: transparent
    cursor: pointer
    user-select: none
    background-image: url('../img/menu_open.svg')
    background-repeat: no-repeat
    background-size: cover
    &--active
      background-image: url('../img/menu_close.svg')

.menu
  display: flex
  justify-content: space-between
  align-items: center
  &--mobile
    background-color: $bgc
    position: fixed
    top: 85px
    width: 95%
    left: 50%
    transform: translateX(-50%)
    display: flex
    flex-direction: column
    align-items: center
    padding: 32px 0
    border-radius: 8px
    border: 1px solid $accent
    display: none
    visibility: hidden
    z-index: 100
    &--visible
      display: flex
      visibility: visible
   
  &__links
    display: flex
    align-items: center
    &--mobile
      display: flex
      flex-direction: column
      align-items: center
  &__item
    margin-right: 25px
    &--mobile
      margin-right: 0
      margin-bottom: 14px
  &__link
    text-decoration: none
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center
    color: $header-text
    position: relative
    transform-origin: center
    &::after
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 0
        height: 100%
        border-bottom: 2px solid $accent
        transition: all .2s ease
    &:hover
      color: $accent
      transform-origin: center
      &::after
        width: 100%

        
        

        
  &__button
    margin-left: 40px
    max-width: 148px
    padding: 11px 30px
    &--mobile
      margin-left: 0
