.navbar
  padding: 25px 0
  // background-color: lightgreen
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
  &-menu
    display: flex
    justify-content: space-between
    align-items: center
    &__links
      display: flex
      align-items: center
    &__item
      margin-right: 20px
    &__link
      text-decoration: none
      font-family: 'Open Sans', sans-serif
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      text-align: center
      color: $header-text
    &__button
      margin-left: 40px
      max-width: 148px
