.main
  padding: 70px 0 100px 0
  &-wrap
    display: flex
    justify-content: space-between
  &-about
    &__header
      margin-top: 48px
      margin-bottom: 28px
      max-width: 470px
    &__author
      margin-bottom: 36px
    &__text
      max-width: 585px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      margin-bottom: 56px
    &__buttons
      
  &-button
    min-width: 215px
    max-width: 215px
    padding: 16px 36px
    text-transform: uppercase
    &:last-child
      margin-left: 26px
  &-book
    padding: 103px 119px
    background-color: $light-transp
    position: relative
    z-index: 0
    &::before
      content: ''
      position: absolute
      width: 47%
      height: 60%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      box-shadow: 0 10px 40px grey
      z-index: 1
    &__img
      width: 250px
      height: 374px
      object-fit: cover
      position: relative
      z-index: 2